.container {
  width: 300px;
  margin: auto;
  text-align: center;
}

input {
  width: 70%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  gap: 8px;
  margin: 5px;
}

.done {
  text-decoration: line-through;
  color: gray;
}
